{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
<h1> Search results for {{ query }} </h1>

<a href="{{ url_for('list') }}">Home</a>
<div>
<form class="form-inline" action="{{ url_for('search') }}" method="post">
  <div class="form-group">
    <label for="inputHyperlink" class="sr-only">Search for Hyperlink</label>
    <input type="text" class="form-control" name="query" placeholder="Hyperlink">
  </div>
  <button type="submit" class="btn btn-default">Search Again</button>
</form>
</div>
{% include 'list.html' %}

{% endblock %}