<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hyperlink database - Server view</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" media="all" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" media="all" rel="stylesheet" href="../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" />
</head>
<body role="document">
	<div class="container" role="main">
		<div class="page-header">
			<h1 th:text="${message}"></h1>	
		</div>
		<div class="row">
			<a role="button" class="btn btn-link" href="index.html" th:href="@{/}" th:text="'Main page'" ></a>
		</div>
	</div>
</body>
</html>