<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hyperlink database - Server view</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" media="all" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" media="all" rel="stylesheet" href="../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" />
</head>
<body role="document">
	<div class="container" role="main">
		<div class="page-header">
			<h1>List of registered hyperlinks</h1>
		</div>
		<p>
			<a role="button" class="btn btn-default" href="add.html" th:href="@{/add}" th:text="'Add new hyperlink'"></a>
		</p>
		<div class="row">
			<span th:if="${#lists.isEmpty(hyperlinksList)}" th:text="'Hyperlink list is empty'"></span>
			<div class="col-md-6">
	          	<table class="table table-condensed" th:if="${not #lists.isEmpty(hyperlinksList)}">
	            	<thead>
	              	<tr>
	                	<th class="col-sm-10">Link</th>
	                	<th class="col-sm-3"></th>
	                	<th class="col-sm-3"></th>
	              	</tr>
	            	</thead>
	         		<tbody>
	              		<tr th:each="hyperlink : ${hyperlinksList}">
	                		<td>
	                			<a href="show.html" th:href="@{/show/{id}(id=${hyperlink.id})}" th:text="${hyperlink.link   }"></a>
	                			<span class="label label-primary" th:each="tag : ${hyperlink.metaTags}" th:text="${tag.tag}"></span>
	                		</td>
	                		<td><a href="edit.html" th:href="@{/edit/{id}(id=${hyperlink.id})}" th:text="Edit" ></a></td>
	               			<td><a href="delete.html" th:href="@{/delete/{id}(id=${hyperlink.id})}" th:text="Delete" ></a></td>
	              		</tr>
	            	</tbody>
	          	</table>
        	</div>
		</div>
	</div>
</body>
</html>