<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hyperlink database - Server view</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" media="all" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" media="all" rel="stylesheet" href="../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" />
</head>
<body role="document">
	<div class="container" role="main">
		<div class="page-header">
			<h1 th:text="${message}"></h1>
		</div>
		<p>
			<a role="button" class="btn btn-default" href="add.html" th:href="@{/add}" th:text="'Add new hyperlink'"></a>
		</p>
		<br/>
		<div class="row">
			<form class="form-inline" name="search" action="#" th:action="@{/searchlink}" method="get">				
			    <div class="col-xs-8">
					<div class="form-group">
			    		<label class="controle-label">Search</label>
				        <input class="form-control" type="text" name="q" />
				    </div>   
				    <div class="form-group">
				    	<label class="radio-inline">
				    		<input type="radio" th:name="a" th:text="Link" onclick="document.search.action='/searchlink'" th:checked="true"/>
				    	</label>
				    	<label class="radio-inline">
				    		<input type="radio" th:name="a" th:text="Tag" onclick="document.search.action='/searchtag'" />
				    	</label>
				    </div>   
				    <div class="form-group">			    
					    <input role="button" class="btn btn-default" type="submit" value="Submit" />
					</div>
				</div>
		    </form>
		</div>
		<br/>
		<div class="row" th:if="${not #lists.isEmpty(hyperlinksList)}">			
			<div class="col-md-12">
	          	<table class="table table-condensed">
	            	<thead>
	              	<tr>
	                	<th class="col-md-8" th:text="Link"></th>
	                	<th th:if="${search} == null" class="col-md-2">
	                		<a th:if="${ascending}" href="searchlink.html" th:href="@{/(order='desc')}" th:text="'Last modification'" ></a>
	                		<a th:unless="${ascending}" href="searchlink.html" th:href="@{/(order='asce')}" th:text="'Last modification'" ></a>
	                	</th>
	                	<th th:unless="${search} == null" class="col-md-2">
	                		<div th:if="${searchTag}">
		                		<a th:if="${ascending}" href="searchlink.html" th:href="@{/searchlink(q=${search}), order='desc'}" th:text="'Last modification'" ></a>
		                		<a th:unless="${ascending}" href="searchlink.html" th:href="@{/searchlink(q=${search}), order='asce'}" th:text="'Last modification'" ></a>
		                	</div>
	                		<div th:unless="${searchTag}">
		                		<a th:if="${ascending}" href="searchlink.html" th:href="@{/searchlink(q=${search}), order='desc'}" th:text="'Last modification'" ></a>
		                		<a th:unless="${ascending}" href="searchlink.html" th:href="@{/searchlink(q=${search}), order='asce'}" th:text="'Last modification'" ></a>
		                	</div>
	                	</th>
	                	<th class="col-md-1"></th>
	                	<th class="col-md-1"></th>
	              	</tr>
	            	</thead>
	         		<tbody>
	              		<tr th:each="hyperlink : ${hyperlinksList}">
	                		<td>
	                			<a href="show.html" th:href="@{/show/{id}(id=${hyperlink.id})}" th:text="${hyperlink.link   }"></a>
	                			<a class="label label-primary" th:each="tag : ${hyperlink.metaTags}" href="searchtag.html" th:href="@{/searchtag(q=${tag.tag})}" th:text="${tag.tag}"></a>
	                		</td>
	                		<td>
	                			<span th:text="${hyperlink.lastEditedAt}"></span>
	                		</td>
	                		<td>
	                			<a href="edit.html" th:href="@{/edit/{id}(id=${hyperlink.id})}" th:text="Edit" ></a>
	                		</td>
	                		<td>
	                			<a href="delete.html" th:href="@{/delete/{id}(id=${hyperlink.id})}" th:text="Delete" ></a>
	                		</td>
	              		</tr>
	            	</tbody>
	          	</table>
        	</div>
		</div>
		<br/>
		<div class="row">
			<a role="button" class="btn btn-link" href="index.html" th:href="@{/}" th:text="'Main page'" ></a>
		</div>
		<p th:if="${#lists.isEmpty(hyperlinksList)}" th:text="'Hyperlink list is empty'"></p>
	</div>
</body>
</html>