<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hyperlink database - Server view</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:if="${not exists}" th:text="'Entry with id ' + ${id} + ' not found!'"></h1> 
	<div th:if="${exists}">
		<h1 th:text="'Showing content of entry with id ' + ${hyperlink.id}"></h1>	
		<br/>		
		<a href="addtag.html" th:href="@{/addtag/{id}(id=${hyperlink.id})}" th:text="'Add tag'" ></a>
		<br/>		
		<a href="addcomment.html" th:href="@{/addcomment/{id}(id=${hyperlink.id})}" th:text="'Add comment'" ></a>
		<ul>
			<li th:text="'id: ' + ${hyperlink.id}"></li>
			<li th:text="'Link: ' + ${hyperlink.link}"></li>
			<li>Tags: 
				<ul>
					<li th:each="tag : ${hyperlink.metaTags}" th:text="${tag.tag}"></li>
				</ul>
			</li>
			<li>Comments: 
				<ul>
					<li th:each="comment : ${hyperlink.comments}" th:text="${comment.comment}"></li>
				</ul>
			</li>
			<li th:text="'Added at: ' + ${hyperlink.addedAt}"></li>
			<li th:text="'Last edited at: ' + ${hyperlink.lastEditedAt}"></li>
		</ul>
		</div>
	<a href="index.html" th:href="@{/}" th:text="'Main page'" ></a>
</body>
</html>